.menu {
    height: 50px;
    box-sizing: border-box;
    border-color: 1px solid;
    background-color:honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid slategray;
    font-size: large;
}

.menu:hover {
    cursor: pointer;
}