.addExpense {
    height: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100%;
    padding: 20px 50px;
    /*border: 1px solid;*/
}

.submit {

}

.submit:hover {
    cursor: pointer;
}